<a href="https://colab.research.google.com/github/renyelis/ejercicios_for/blob/main/EJERCICIOS_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INSTRUCCION REPETITIVA FOR

In [ ]:
# ejercicio 1: mostrar los numeros del 1 al 10 sin usar instrucciones repetitivas

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
# ejercicio 2:mostrar los numeros del 1 al 10,usando la instruccion while

contador = 1
print(contador)
while contador <10:
  #contador = contador + 1
  contador +=1
  print(contador)

In [ ]:
# ejercicio 3:mostrar los numeros del 1 al 10,usando la instruccion for y una lista como interable

for i in [1,2,3,4,5,6,7,8,9,10]:
  print(i)

In [ ]:
# ejercico 4:mostrar los numeros del 1 al 10,usando la instruccion for y la funcion range

for i in range(1,11):
  print(i)

In [ ]:
# ejercicio 5:mostrar una frase 10 veces usando la instruccion for y una lista

lista = [1,2,3,4,5,6,7,8,9,10]
for i in lista:
  print(f"{i}sistema el mejor!!!")

In [ ]:
# ejercicio 6:mostrar la silaba inicial de los dias de la semana,usando for y una lista con la inicial de los dias de la semana

dias_semana = ["lu","ma","mi","ju","vi","sa","do"]
for i in dias_semana:
  print(i)

In [ ]:
# ejercicio 7:mostrar una lista de distintos tipos de datos,usando for
lista = [1,2,3,guanenta,true,8] 
for i in lista:
  print(i)

In [ ]:
# ejercicio 8:ingresar su nombre y mostrarlo letra a letra usando for

nombre = input("digite su nombre: ")
for letra in nombre:
  print(letra)

In [ ]:
# ejercicio 9:ingresar nombre y mostrarlo letra a letra usando for cambiando por asterico * a la vocal e

nombre =input("digite su nombre: ")
for letra in nombre:
  if letra == 'e': 
    print("*")
  else:
      print(letra)

In [ ]:
# ejercicio 10:ingresar su nombre y mostrarlo letra a letra en mayuscula usando for

nombre = input("digite su nombre: ")
for letra in nombre:
  print(letra.upper())

In [ ]:
# ejercicio 11:imprimir lista de numerosfor y range

print("numeros del 0 al 9")
for i in range(10):
  print(i)

print("numeros del 1 al 10")
for i in range(1,11):
  print("sistemas el mejor")

print("10 veces la frase")
for i in range(10):
  print("sistemas el mejor")

print("10 veces la frase i = ")
for i in range(10):
  print("i = " + str(i)) 

print("10veces la frase i = ")
for i in range(10):
  print(f"i = {i}")

print("rango del 7 al 18,incrementado de 4 en 4")
for i in range(7,19,4):
  print(i)

print("convierte rango en lista a,y la muestra")
a = list(range(1000))
print(a)